.main-banner-container {
  height: 100vh;

    // background: linear-gradient(120deg, #fe5f57, #fd8b54, #feba57);
    // background: linear-gradient(120deg, #5bc7b0, #63b1d7, #6c9ef7);

  .main-banner {
    height: 60%;
    // background: url('../../assets/busy-work-day.jpg') no-repeat center/cover;
    background: linear-gradient(120deg, #5bc7b0, #63b1d7, #6c9ef7) no-repeat center/cover;
    padding: 40px 10px;

    .main-banner-content {
      max-width: 1140px;
      margin: 0 auto;

      h1 {
        color: #6c9ef7;
        font-size: 22px;
        margin: 10px 40px;
        float: right;
  
        @media (max-width: 768px) { margin: 10px; }
        
        span {
          color: #fd8b54;
        }
      }
      
      h2 {
        color: #5bc7b0;
        font-size: 56px;
        margin: 35px 10px;
  
        @media (max-width: 768px) { font-size: 35px; }
      }

      img {
        width: 280px;
      }
    }
    
    .chat-box {
      background-color: white;
      width: fit-content;
      padding: 20px 30px;
      border-radius: 8px;
      position: relative;
      box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.18), 0px 0px 4px rgba(0, 0, 0, 0.18);
      z-index: 3;

      &.chat-box-arrow-left:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 30px;
        right: auto;
        top: auto;
        bottom: -40px;
        border: 30px solid;
        border-color: transparent;
        z-index: 2;
      }

      &.chat-box-arrow-left:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 48px;
        right: auto;
        top: auto;
        bottom: -33px;
        border: 22px solid;
        z-index: 2;
        border-color: white transparent transparent white;
      }

      &.chat-box-arrow-right:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: -8px;
        bottom: -40px;
        border: 30px solid;
        border-color: transparent;
      }

      &.chat-box-arrow-right:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: 50%;
        bottom: -33px;
        border: 22px solid;
        border-color: white white transparent transparent;
      }
    }
  }
   
  .person-img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.18), 0px 0px 4px rgba(0, 0, 0, 0.18);
    background: white;
    background: linear-gradient(140deg, #fe8d57, #eca669, #f7b844);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: -105px auto 0;
    border: 3px solid white;

    img {
      border-radius: 48%;
    }
  }

  .person-about {
    margin: 50px 10px;

    h3 {
      font-size: 22px;
      color: #808080;
    }
  }
}




